header{
      height: 100vh;
      padding-top: 2rem;
      overflow: hidden;
}

.header_container{
text-align: center;
position: relative;
height: 100%;
}


/* CTA CSS */
.cta{
      margin-top: 2.5rem;
      display: flex;
      gap: 1.2rem;
      justify-content: center;
}

.btn{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .3rem;
}
.btn > a{
      display: contents;
      align-items: center;
      justify-content: center;
      gap: .3rem;
}

/* header socials */

.header_socials{
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 3rem;
}

.header_socials::after{
      content: '';
      width: 1px;
      height: 2rem;
      background: var(--color-primary);
}

/* me  */

.me{
      width: 22rem;
      height: 30rem;
      padding: 1rem .91rem 0rem 1.15rem;
      left: calc(50% - 10rem);
      position: relative;
      object-fit: cover;
      margin-top: 2rem;
      background: linear-gradient(var(--color-primary),transparent);
      border-radius: 12rem  12rem 0 0 ;
      overflow: hidden;

}

.scroll_down{
      position: absolute;
      right: -2.3rem;
      bottom: 5rem;
      font-weight: 300;
      font-size: 0.9rem;
      transform: rotate(90deg);
}

/* Media query for medium devices */
@media screen and (max-width: 1024px) {
      header{
            height: 88vh;
      }

}


/* media query for smalldevices */

@media screen and (max-width :600px){
      header{
            height: 100vh;
      }
      .header_socials , .scroll_down{
            display: none;
      }
}


